<h1>Listing items</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Parent</th>
    <th>User</th>
    <th>Details</th>
    <th>Recurring</th>
    <th>Tags</th>
    <th>Location</th>
    <th>Priority</th>
    <th>Completion status</th>
    <th>Due date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.description %></td>
    <td><%= item.parent_id %></td>
    <td><%= item.user_id %></td>
    <td><%= item.details %></td>
    <td><%= item.recurring %></td>
    <td><%= item.tags %></td>
    <td><%= item.location %></td>
    <td><%= item.priority %></td>
    <td><%= item.completion_status %></td>
    <td><%= item.due_date %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
