<!DOCTYPE html>
<html>
<head>
  <title>Hubbub</title>

  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "ui-lightness/jquery-ui" %>
  <%= javascript_include_tag "json2", "jquery.min", "jquery-ui", "jquery.qtip",
                             "jquery.hoverIntent", "raphael", "underscore-min",
                             "backbone-min", "item", "hubbub" %>
  
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
